@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'carmelit';
    src: url('fonts/carmelit/400/carmelitregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {

    margin: 0;
    font-family: 'opensans', arial, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}
h1{
    color: #fff;
    font-family: 'carmelit';
    font-weight: 400;
    font-size: 34px;
}
img {

}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(img/USPTO.jpg);
  background-position: center 55%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
    color: #fff;
    
    
}
